.Jank {
  background-color: #111;
  color: #d0d0d0;
  font-family: monospace;
  height: 100vh;
  overflow-y: scroll;
  text-align: center;
}

.JankCardFinder {
  width: 30em;
  font-size: 20px;
  text-align: center;
}
