.ArtProjectsTitle {
  font-family: monospace;
  color: #d0d0d0;
  font-size: 60px;
}

.ArtProjectsIndex {
  background-color: #111;
  height: 100vh;
  overflow-y: scroll;
}

.ProjectLinkContainer {
  color: #d0d0d0;
}

.ProjectLink {
  text-decoration: none;
  font-size: 40px;
  font-family: monospace;
  color: #d0d0d0;
}

.ProjectLink:hover {
  color: #fff;
  text-decoration: none;
}

.ProjectDescription {
  color: #d0d0d0;
  overflow-x: auto;
  font-family: monospace;
}
