.BlogContainer {
  padding-top: 2em;
  background-color: #111;
  color: #d0d0d0;
  font-family: monospace;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  overflow-y: scroll;
}

.BlogPost {
  border-left: 0.1em solid #d0d0d0;
  padding-left: 1.5em;
  padding-right: 2em;
}

.BlogPostTitle {
  text-align: left;
}

.BlogPostDate {
  text-align: left;
}

.BlogPostBody {
  text-align: left;
  color: #d0d0d0;
  overflow-x: auto;
}

.PostDivider {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 8em;
  margin-right: 8em;
  border-width: 1px;
  border-style: solid;
  color: #a0a0a0;
}
