.Grid {
    padding: 10px;
}

.GridElement .card {
    margin-top: 20px;
    width: 300px;
}

.GridElement:hover {
    color: #909090;
    text-decoration: none;
}

.FocusView {
    display: flex;
    padding: 10px;
}
