.ImageView, .ImageView-img, .ImageView-title {
    margin: auto;
    width: 900px;
}

.ImageView-title {
    background-color: black;
    color: whitesmoke;
    width: 400px;
}

.ImagePreview, .ImagePreview-img, .ImagePreview-title {
    margin: auto;
    width: 200px;
}

.ImagePreview-title {
    background-color: black;
    color: whitesmoke
}
