.ImageView, .ImageView-img, .ImageView-title {
    margin: auto;
    width: 900px;
}

.ImageView-title {
    background-color: black;
    color: whitesmoke;
    width: 400px;
}

.ImagePreview {
    margin: 0 auto;
    width: 300px;
}

.ImagePreview .card-img-top {
    object-fit: none;
    object-position: center;
    width: 100%;
    height: 250px;
    background-color: #111;
}

.ImagePreview .card-body {
    background-color: #111;
}

.ImagePreview .card-title {
    color: #d0d0d0;
}

.ImagePreview .card-title:hover {
    color: #fff;
}
