.Sidebar {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.Sidebar Link, .Sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #d0d0d0;
  display: block;
}

.Sidebar Link, .Sidebar a:hover {
  color: #fff;
}
