// .ZineImg {}

.ZineImgRow {
  position: relative;
  background-color: #111
}

.ZineImgContainer {
  padding-right: 34px;
  background-color: #111;
}

.ArtistStatement {
  font-size: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #111;
  color: #d0d0d0;
  width: 80%;
  text-align: left;
  display: inline-block;
}

.ArtistStatementPage {
  position: relative;
  padding-right: 34px;
  padding-top: 30px;
  background-color: #111;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.StatementLink {
  color: #d0d0d0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
}

.StatementLink:hover {
  color: #fff;
  text-decoration: none;
}

.ZineBackLink {
  color: #d0d0d0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
}

.ZineBackLink:hover {
  color: #fff;
  text-decoration: none;
}
